<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail</title>
</head>
<body>
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block main %}
<fieldset disabled>
    Enrollment ID: {{object.id}} <br>
        Grade: {{object.grade}} <br>
        course: {{object.course_id}} <br>
        student: {{object.student_id}} <br>
    <br>
    <br>
</fieldset>
<br>
<br>
<center>
    <a href="create" class="btn btn-primary">Add New Enrollment</a>
    <a href='/Enrollment' class="btn btn-light">Back</a>
</center>
{% endblock %}
</body>
</html>